<!-- footer navigation start -->

<footer class="site-footer">

  <div class="blog-header custom-links">
    <a href={{ "/" | prepend: site.baseurl }}><span class="icon-home"></span> Home</a>
    | 
    <a href={{ "/all-posts.html" | prepend: site.baseurl }}><span class="icon-list2"></span> Posts</a>
    |
    <a href={{ "/search.html" | prepend: site.baseurl }}><span class="icon-search"></span> Posts</a>
    |
    <!-- <a href={{ "/fts" | prepend: site.baseurl }}><span class="icon-compass"></span> DhammaFTS</a> -->
    
    <a href="https://vpnry.github.io/fts" target="_blank"><span class="icon-compass"></span> DhammaFTS</a>
    |
    <a class="subscribe" href="{{ "/feed.xml" | prepend: site.baseurl }}"> <span class="tooltip"> <span
      class="icon-rss"></span> RSS</span></a>
  </div>
  <br>
  <br>
  <div class="inner">
    <section class="copyright">Except works created by others, my own works are for free distribution.</section>
    <section class="poweredby">Powered by:<a href="http://github.com"> Github Page</a><a
        href="https://github.com/dirkfabisch/mediator"> | Modified Theme</a></section>
  </div>
</footer>

<!-- footer navigation end -->
